/* styles for seat start*/
.column-label {
  width: 100px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10%;
  background-color: #f7f8f8;
  color: #03071280;
  font-family: inter;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
} /* styles for seat start*/

/* styles for A-j column start*/
.column-label-a-j {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  margin: 5px 0;
  border-radius: 10%;
  border: none;
  color: #03071280;
  font-family: inter;
  font-size: 18px;
  font-weight: 500;
}
/* styles for A-j column End*/

/* styles for After click on seat start*/
.selected-seat {
  background-color: #1dd100;
  color: white;
}
/* styles for After click on seat END*/

/* payment section seat info style start */
.selected-seat-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: #03071299;
  font-size: 16px;
  font-family: inter;
  font-weight: 500;
}
/* payment section seat info style End*/
